# Financial Data Sources & APIs

A time series is essentially a sequence of data points arranged in chronological order. It’s like a story told over time, where each data point represents a snapshot at a specific moment. Time series data is indexed in time order, and examples include financial data such as equity prices, commodity prices, and forex rates, all of which are observed at regular time intervals.

## Financial Data Preprocessing

The first step in any data analysis is to parse the raw data. This involves extracting the data from the source, cleaning it up, and addressing any missing values. Financial data can come in many forms, but Python makes it easy to read and manipulate this data using powerful packages.

In this session, we'll focus on how to retrieve and store time series data using some popular Python libraries. Specifically, we’ll work with end-of-day data, intraday data, and option chain data. Additionally, we’ll explore how to read time series data from traditional local sources like SQL databases.

**Import Libraries**

In [4]:
# Import client from TradingStrategy
from tradingstrategy.client import Client

# Create client for data import
client = Client.create_jupyter_client()

# Import time series package from TradingStrategy
from tradingstrategy.timebucket import TimeBucket

import pandas as pd

Started Trading Strategy in Jupyter notebook environment, configuration is stored in /home/kieferkushland/.tradingstrategy

## Financial Time Series Data Retrieval

In [5]:
# Fetch data by specifying the period
all_candles = client.fetch_all_candles(TimeBucket.d1)

# Represent candles as Pandas data frame
all_candles_df = all_candles.to_pandas()

# Display the all candles data frame
all_candles_df

,pair_id,timestamp,exchange_rate,open,close,high,low,buys,sells,volume,buy_volume,sell_volume,avg,start_block,end_block
0,1,2020-05-05,1.000000,205.587587,201.486251,205.587587,201.486251,0.0,2.0,0.011000,0.000000,0.011000,203.536919,10008566,10008585
1,1,2020-05-06,1.000000,201.078391,201.358458,201.358458,201.078391,1.0,1.0,0.001689,0.000689,0.001000,201.218424,10013764,10014418
2,1,2020-05-11,1.000000,199.065411,211.270007,211.270007,199.065411,1.0,1.0,0.397513,0.192643,0.204870,205.167709,10045107,10045110
3,1,2020-05-12,1.000000,214.489434,129.456786,214.489434,119.483601,2.0,4.0,3.213554,0.831169,2.382385,154.093810,10051015,10054357
4,1,2020-05-13,1.000000,131.736448,241.912496,244.201278,26.774071,4.0,2.0,17.446875,13.658491,3.788384,175.310108,10054536,10060820
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26405947,8439629,2025-07-25,3716.323599,0.000020,0.000020,0.000020,0.000020,NaN,NaN,0.037163,NaN,NaN,0.037163,33324509,33324509
26405948,8439637,2025-07-25,3718.154512,0.000004,0.000004,0.000004,0.000004,NaN,NaN,684.049960,NaN,NaN,52.619228,33324538,33324814
26405949,8439638,2025-07-25,3716.873515,0.000020,0.000020,0.000020,0.000020,NaN,NaN,0.037169,NaN,NaN,0.037169,33324555,33324555
26405950,8439640,2025-07-25,3717.191911,0.000020,0.000020,0.000020,0.000020,NaN,NaN,0.037172,NaN,NaN,0.037172,33324576,33324576
26405951,8439656,2025-07-25,3718.841852,0.000006,0.000007,0.000007,0.000006,NaN,NaN,734.068231,NaN,NaN,146.813646,22995507,22995511

In [6]:
# Represent instrument pair from candle data
pair_id = 1

# Grab pair index 1, happens to be ETH/USDC [verify independently]
eth_usdc_pair: pd.DataFrame = all_candles_df.loc[all_candles_df['pair_id'] == pair_id] 

# Display the ETH/USDC pair candle data
eth_usdc_pair

,pair_id,timestamp,exchange_rate,open,close,high,low,buys,sells,volume,buy_volume,sell_volume,avg,start_block,end_block
0,1,2020-05-05,1.0,205.587587,201.486251,205.587587,201.486251,0.0,2.0,1.100000e-02,0.000000e+00,1.100000e-02,203.536919,10008566,10008585
1,1,2020-05-06,1.0,201.078391,201.358458,201.358458,201.078391,1.0,1.0,1.689000e-03,6.890000e-04,1.000000e-03,201.218424,10013764,10014418
2,1,2020-05-11,1.0,199.065411,211.270007,211.270007,199.065411,1.0,1.0,3.975130e-01,1.926430e-01,2.048700e-01,205.167709,10045107,10045110
3,1,2020-05-12,1.0,214.489434,129.456786,214.489434,119.483601,2.0,4.0,3.213554e+00,8.311690e-01,2.382385e+00,154.093810,10051015,10054357
4,1,2020-05-13,1.0,131.736448,241.912496,244.201278,26.774071,4.0,2.0,1.744687e+01,1.365849e+01,3.788384e+00,175.310108,10054536,10060820
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19878559,1,2025-07-21,1.0,3767.694611,3769.499606,3893.354980,3702.706930,1207.0,932.0,2.919191e+06,1.463580e+06,1.455611e+06,3776.628330,22963848,22971002
19878560,1,2025-07-22,1.0,3769.498358,3750.005490,3793.949928,3631.730902,1058.0,898.0,2.536751e+06,1.251162e+06,1.285589e+06,3705.394516,22971010,22978149
19878561,1,2025-07-23,1.0,3749.999072,3623.565477,3753.952776,3527.078051,1039.0,710.0,2.359613e+06,1.058529e+06,1.301084e+06,3650.825906,22978150,22985302
19878562,1,2025-07-24,1.0,3623.569388,3701.567246,3761.938279,3519.090504,926.0,742.0,2.558059e+06,1.358478e+06,1.199582e+06,3664.475392,22985314,22992448
19878563,1,2025-07-25,1.0,3701.571628,3725.626748,3731.718028,3566.346872,385.0,285.0,1.644692e+06,8.472601e+05,7.974315e+05,3650.870326,22992453,22995508